:root{
    --mainColor:#46344E;
    --secondaryColor: #382a3f;

    --borderColor:#1d1520;

    --maintext:#FFF;
    --secondaryText:#eeeeee;

    --themeBoarder:#FFF;
    --previewShadow:#2b202f;

    --btncolor:#669966;
}